
/* Variable color  */
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 35px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;     
}
/* Nav CSS */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}

/* Header releated css */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Banner css */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom:  0px;
}
.banner-title{
    font-size: 50px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-des {
    margin-top: -20px;
    
}
.cv-btn{
    border: 2px solid #FD6E0A;
}
.cv-btn:hover{
    background-color: #fff;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
}
.contact-btn{
    background-color: #fff;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
}
.contact-btn:hover{
    background-color: #FD6E0A;
    color: #fff;
    
}
/* About css */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.about-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-des{
    color:#757575;
    text-align: center; 
    font-size: 18px;
}