
/* Variable color  */
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 35px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;     
}
/* Nav CSS */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}

/* Header releated css */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Banner css */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom:  0px;
}
.banner-title{
    font-size: 50px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-des {
    margin-top: -20px;
    
}
.cv-btn{
    border: 2px solid #FD6E0A;
}
.cv-btn:hover{
    background-color: #fff;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    transition: 0.3s
}
.contact-btn{
    background-color: #fff;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
}
.contact-btn:hover{
    background-color: #FD6E0A;
    color: #fff;
    transition: 0.3s
    
}
/* About css */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.about-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-des{
    color:#757575;
    text-align: center; 
    font-size: 18px;
}
/*  main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.about-info .info-title{
    color:#757575;
    text-align: center; 
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0px;
}
.about-info .info-description{
    color: #474747;
    text-align: center;
    font-weight:bold;
    margin-top: 5px;
}
#i-do {
    padding: 0px 150px;
}
/* skills section */
.skill-container{
    display: flex;
    justify-content: space-around;
}
.skill-info{
    padding: 30px;
}
.skill-des{
    padding-right: 40px;
    color: #757575;
}
.skill-info{
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
}
/* Resume section css */
.resume-col-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px ;
}
.resume-item-title{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-des{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    margin-right: 50px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer css */
footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 120px 200px;
}
.footer-des{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    padding: 0px 80px;
}